body {
    background-image: url("images/silverware.jpg");
    background-repeat: repeat;
	color: #404040;
	font-size: 11pt;
	font-family: Georgia, Garamond, serif;
	padding: 30px;
}

a {
	color: #A4A400;
}

h2 {
	color: #A4A400;
	background-color: #F0F0F0;
	font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	font-size: 22pt;
	font-weight: lighter;
	text-decoration: underline;
	text-align: center;
}

h2.sub {
	font-size: 18pt;
	text-align: left;
}

.tooltip {
	text-decoration: underline;
}

p.validation-div {
	display: inline;
}

ul.simple-list {
	list-style-type: none;
	padding-left: 0px;
}

blockquote {
	background-color: #FFFFA8;
	font-style: italic;
}

ul li {
	list-style-image: url(images/pie_bullet.png);
}

.li {
	list-style-image: url(images/pie_bullet.png);
}

#list-item {
	padding-left: 20px;
}

.subject {
	font-weight: bold;
}

.predecate {
	text-decoration: line-through;
}

.copy-right {
	font-style: italic;
	font-size: 0.8em;
}

#content {
	max-width: 780px;
	margin: 0 auto;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #404040;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}