body {
    background-image: url("../assets/background.png");
    font-size: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    margin:auto;
}

#banner {
    background-image: url("../assets/bannerbg.png");
    background-repeat: repeat-x;
}

#img_banner {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

h1 {
    font-weight: bold;
    font-size: 24pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px #999999;
    text-align: center;
}

.div_overall {
    width: 800px;
    margin: auto;
    border: 4px solid gray;
    border-radius: 20px;
}

.left_section {
    width: 550px;
    margin-left: 0;
    float:left;
}

#div_rottenbig {
    background-image: url(../assets/rbg.png);
    background-repeat: repeat-x;
    border-top-left-radius: 20px;
    font-size: 48pt;
    font-weight: bold;
    color: red;
    vertical-align: top;
}

#img_rottenbig {
    border-top-left-radius: 15px;    
}

.div_two_column {    
    column-count: 2;
    padding: 2%;
    vertical-align: top;
}

.quotebox {
    font-weight: bold;
    font-size: 8pt;
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    margin-top: 2px;
}

.right_section {
    width: 250px;
    background-color: #A2B964;
    margin-left: 550px;
    border-top-right-radius: 15px;

}

#img_overview {
    border-top-right-radius: 15px;
}

#dl_filminfo {
    padding: 10pt;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.dt_filmterm {
    font-size: 10px;
    font-weight: bold;
    padding-top: 10px;
}

#ul_filminfolink {
    list-style-type: none;
    padding-left: 0;
}

#review_bar {
    clear: left;
    margin-top: 0;
    background-color: #A2B964;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

#review_percent{
    position: absolute;    
}

#id_validator {
    position: fixed ;
    bottom: 0;
    right: 0;
}
